<% include head.ejs %>
<div class="container navigation">
	<div class="controls">
		<a href="/ses" class="logout-btn">Logout</a>
		<a href="/rooms" class="rooms-btn">Rooms</a>
	</div>
</div>
<div class="container clearfix">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="chat">
				<div class="chat-header clearfix">
					<!-- Find billede i user -> picture -->
					<div class="chat-about">
						<div class="chat-room"><%= room.title %></div>
						<div class="chat-num-users"> Users</div>
					</div>
				</div> <!-- end chat-header -->

				<div class="chat-history">
					<ul>
						<li>
							<% room.messages.forEach(function(message) { %>
								<div class="message-data">
									<span class="message-data-name"><%= message.username %></span>
									<span class="message-data-time"><%= message.date %></span>
								</div>
								<div class="message my-message" dir="auto"><%= message.content %></div>
							<% }); %>
						</li>
					</ul>
				</div> <!-- end chat-history -->

			</div> <!-- end chat -->
		</div>
		<div class="col-xs-12 col-sm-6">
            <div class="chat chat-users">
				<div class="users-list">
					<ul class="list">
					</ul>
				</div>

                <div class="chat-message clearfix">
                    <textarea name="message" placeholder ="Type your message" rows="3"></textarea>
                    <button type="submit">Send</button>
                </div> <!-- end chat-message -->
            </div>
		</div>
	</div>
</div> <!-- end container -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>

<script>$(function(){app.chat('<%= room.id %>', '<%= user.username %>')});</script>
  </body>
</html>
